@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");
*{
    padding: 0;
    margin: 0;
    block-size: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root{
    --main_color:#ff8716;
    --p_color:#7b7b7b;
    --bg_color:#f3f3f3;
    --white_color:#fff;
    --color_heading:#121416;
    --border_color:#e5e5e5ed;
    --Sale_color:#e51a1a;
}

span{
    color: var(--main_color);
}

p{
    color: var(--p_color);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color_heading);
    font-family: "DM Sans", sans-serif;
}

img{
    width: 100%;
}

input, select, button {
    outline: none;
    border: none;
}

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn{
    padding: 10px 18px;
    text-transform: capitalize;
    border-radius: 2px;
    background-color: var(--main_color);
    color: var(--white_color);
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s all ease-in-out;
}

.btn:hover{
    scale:1.1;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1350px;
}

@media screen and (max-width:1350px){
    .container{
        width: 90%;
    }
}

/* header */

header{
    position: fixed;
    background-color: #fff;
    top:0;
    left:0;
    right:0;
    box-shadow: 5px 8px 8px #d1d1d1;
}

header .top_header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

header .top_header .logo{
    width: 180px;
}

header .top_header .search_box{
    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg_color);
}
header .top_header .search_box input{
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    background-color: var(--bg_color);
}

header .top_header .search_box .select_box{
    position: relative;
}

header .top_header .search_box .select_box::after{
    content:'';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 50%;
    transform: translatey(-50%);
    background-color: #b9b9b9;
}

header .top_header .search_box .select_box select{
    height: 55px;
    width: 190px;
    background-color: var(--bg_color);
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
}

header .top_header .search_box .select_box select option{
    font-size: 15px;
}

header .top_header .search_box  button{
    height: 55px;
    width: 60px;
    background-color: var(--main_color);
    font-size: 18px;
    cursor: pointer;

}
header .top_header .search_box  button i{
    color: var(--white_color);
}

header .top_header .header_icons{
    display: flex;
    gap: 30px;
}

header .top_header .header_icons .icon {
    position: relative;
    cursor: pointer;
}

header .top_header .header_icons .icon i{
    font-size: 24px;
}

header .top_header .header_icons .icon .count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: var(--main_color);
    color: var(--white_color);
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    border-radius: 100%;
}

header .bottom_header{
    border-top: 1px solid var(--border_color);
}

header .bottom_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bottom_header nav{
    display: flex;
    align-items: center;
    height: 60px;
    gap: 50px;
}

header .bottom_header .category_nav{
    width: 220px;
    height: 100%;
    position: relative;
}

header .bottom_header .category_nav .category_btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main_color);
    padding: 0 15px;
    cursor:pointer;
}

header .bottom_header .category_nav .category_btn p{
    color: var(--white_color);
    font-weight: 600;
    font-size: 15px;
}

header .bottom_header .category_nav .category_btn i{
    color: var(--white_color);
}

header .bottom_header .nav_links{
    display: flex;
    gap: 35px;
}

header .bottom_header .nav_links li a{
    color:var(--color_heading);
    transition: 0.3s all ease-in-out;
}

header .bottom_header .nav_links li a:hover, header .bottom_header .nav_links li.active a{
    color: var(--main_color);
}

